In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [3]:
trainOriginalData = pd.read_csv('/kaggle/input/titanic/train.csv')
testOriginalData = pd.read_csv('/kaggle/input/titanic/test.csv')
print(trainOriginalData.head(5))
print('\n')
print(testOriginalData.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [4]:
print(trainOriginalData.isna().sum(),"\n")
print(trainOriginalData.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
trainData = trainOriginalData.drop(["Name","Sex","Ticket","Cabin","Embarked","Cabin"], axis = 1)
testData = testOriginalData.drop(["Name", "Sex", "Ticket", "Cabin","Embarked","Cabin"], axis = 1)

In [6]:
yTrain = trainData["Survived"]
xTrain = trainData.fillna(trainData.mode())
xTrain = xTrain.drop(["Survived"],axis = 1)
xTest = testData.fillna(trainData.mode())

In [7]:
print(xTrain.isna().sum(),"\n")
print(xTest.isna().sum())
xTrain['Fare'] = xTrain['Fare'].fillna(xTrain['Fare'].mean())
xTrain['Age'] = xTrain['Age'].fillna(xTrain['Age'].mean())
xTest['Age'] = xTest['Age'].fillna(xTest['Age'].mean())
xTest['Fare'] = xTest['Fare'].fillna(xTest['Fare'].mean())
print(xTest.isna().sum())

PassengerId      0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

PassengerId     0
Pclass          0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64
PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [8]:
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=100, min_samples_leaf= 3)
#model.fit(xTrain, yTrain)

In [9]:
#predictions = model.predict(xTest)

#output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
#output.to_csv('submissionBasicRF.csv', index=False)
#print("Your submission was successfully saved!")

In [10]:
from sklearn.neural_network import MLPClassifier

In [11]:
num_epochs = 30
num_hidden_units = 2048
learning_rate_init = 0.01
activation = 'relu'
SEED = 100

In [12]:
mlp = MLPClassifier(
    hidden_layer_sizes=(num_hidden_units,),
    activation=activation,
    learning_rate_init=learning_rate_init,
    warm_start=True,
    verbose=True,
    random_state=SEED,
    early_stopping=True,
    n_iter_no_change=100, # large number of iterations to avoid early stopping message
)

In [13]:
#mlp.fit(xTrain, yTrain)

In [14]:
#predictions = mlp.predict(xTest)
#output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
#output.to_csv('submissionDataCkeanCNN.csv', index=False)
#print("Your submission was successfully saved!")

## Adding feature treatment

In [15]:
trainOriginalData = pd.read_csv('/kaggle/input/titanic/train.csv')
testOriginalData = pd.read_csv('/kaggle/input/titanic/test.csv')

In [16]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
trainOriginalData['Sex'] = pd.get_dummies(trainOriginalData['Sex'], dtype=int)["male"]
testOriginalData['Sex'] = pd.get_dummies(testOriginalData['Sex'], dtype=int)["male"]

In [18]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [19]:
trainOriginalData["Age"] = trainOriginalData["Age"]/trainOriginalData["Age"].max()
trainOriginalData['Age'] = trainOriginalData['Age'].fillna(trainOriginalData['Age'].mean())

testOriginalData["Age"] = testOriginalData["Age"]/testOriginalData["Age"].max()
testOriginalData['Age'] = testOriginalData['Age'].fillna(testOriginalData['Age'].mean())

In [20]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,0.275000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,0.475000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,0.325000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,0.437500,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,0.437500,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,0.337500,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,0.237500,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,0.371239,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,0.325000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,0.400000,0,0,370376,7.7500,NaN,Q

In [21]:
trainOriginalData = trainOriginalData.drop(["Ticket","Cabin","Name"], axis = 1)
testOriginalData = testOriginalData.drop(["Ticket","Cabin","Name"], axis = 1)

In [22]:
trainOriginalData

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,0.275000,1,0,7.2500,S
1,2,1,1,0,0.475000,1,0,71.2833,C
2,3,1,3,0,0.325000,0,0,7.9250,S
3,4,1,1,0,0.437500,1,0,53.1000,S
4,5,0,3,1,0.437500,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,0.337500,0,0,13.0000,S
887,888,1,1,0,0.237500,0,0,30.0000,S
888,889,0,3,0,0.371239,1,2,23.4500,S
889,890,1,1,1,0.325000,0,0,30.0000,C
890,891,0,3,1,0.400000,0,0,7.7500,Q

In [23]:
pd.get_dummies(trainOriginalData['Embarked'], dtype=int)

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

In [24]:
pd.concat([trainOriginalData, pd.get_dummies(trainOriginalData['Embarked'], dtype=int)], axis=1)
pd.concat([testOriginalData, pd.get_dummies(testOriginalData['Embarked'], dtype=int)], axis=1)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,C,Q,S
0,892,3,1,0.453947,0,0,7.8292,Q,0,1,0
1,893,3,0,0.618421,1,0,7.0000,S,0,0,1
2,894,2,1,0.815789,0,0,9.6875,Q,0,1,0
3,895,3,1,0.355263,0,0,8.6625,S,0,0,1
4,896,3,0,0.289474,1,1,12.2875,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,1,0.398324,0,0,8.0500,S,0,0,1
414,1306,1,0,0.513158,0,0,108.9000,C,1,0,0
415,1307,3,1,0.506579,0,0,7.2500,S,0,0,1
416,1308,3,1,0.398324,0,0,8.0500,S,0,0,1
417,1309,3,1,0.398324,1,1,22.3583,C,1,0,0

In [25]:
trainOriginalData = trainOriginalData.drop(["Embarked"], axis = 1)
testOriginalData = testOriginalData.drop(["Embarked"], axis = 1)

In [26]:
trainData = trainOriginalData
testData = testOriginalData

In [27]:
testData

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare
0            892       3    1  0.453947      0      0    7.8292
1            893       3    0  0.618421      1      0    7.0000
2            894       2    1  0.815789      0      0    9.6875
3            895       3    1  0.355263      0      0    8.6625
4            896       3    0  0.289474      1      1   12.2875
..           ...     ...  ...       ...    ...    ...       ...
413         1305       3    1  0.398324      0      0    8.0500
414         1306       1    0  0.513158      0      0  108.9000
415         1307       3    1  0.506579      0      0    7.2500
416         1308       3    1  0.398324      0      0    8.0500
417         1309       3    1  0.398324      1      1   22.3583

[418 rows x 7 columns]

In [28]:
mlp = MLPClassifier(
    hidden_layer_sizes=(num_hidden_units,),
    activation=activation,
    learning_rate_init=learning_rate_init,
    warm_start=False,
    max_iter= 9999,
    batch_size=50,
    verbose=False,
    validation_fraction = 0.2,
    learning_rate = "adaptive",
    random_state=SEED,
    early_stopping=True,
    n_iter_no_change=100, # large number of iterations to avoid early stopping message
)

In [29]:
#mlp.fit(xTrain, yTrain)
scores = cross_val_score(mlp, xTrain, yTrain, cv=5)
print("Mean Accuracy was: ",sum(scores)/len(scores))

Mean Accuracy was:  0.7071181972255351

In [30]:
mlp.fit(xTrain, yTrain)

MLPClassifier(batch_size=50, early_stopping=True, hidden_layer_sizes=(2048,),
              learning_rate='adaptive', learning_rate_init=0.01, max_iter=9999,
              n_iter_no_change=100, random_state=100, validation_fraction=0.2)

In [31]:
predictions = mlp.predict(xTest)
output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionDataCleanedCNN.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!